<app-header logoLink="https://muwatin.net/53293/GCC/" logo="images/logo.png" langImage="images/en.png"
    langChangeLink="" />
<app-hero bgVid="images/hero-sec-1-bg-vid.mp4" buttonLink="https://muwatin.net/69264/" buttonText="لقراءة الجزء الأول"
    cardSuffix="تحقيق: إيمان منير" cardText="تدهور مصايد الأسماك في البحرين نتيجة التوسع في تحلية المياه"
    cardTitle="التكلفة الخفية"
    footerText='هذا التحقيق هو الجزء الثاني من سلسلة تحقيقات "ثمن الماء العذب في الخليج العربي" والتي أنتجت بالشراكة مع شبكة التقارير المحيطية التابعة لمركز بوليتزر' />
<app-quote />
<app-bg-caption-1 />