@use "../../../../assets/scss/helpers" as h;

section.hero {
  height: 75vh;

  video.bg-image {
    z-index: -1;
  }

  .container {
    height: 100%;
  }

  .card {
    padding-top: h.rem(53);
    padding-bottom: h.rem(16);
    padding-inline: h.rem(30);
    max-width: h.rem(676);
    background-color: rgba(4, 30, 54, 0.8);
    backdrop-filter: blur(4px);
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;

    .header {
      @include h.decorativeTitle();
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      padding: h.rem(13) h.rem(24) h.rem(0);
      font-weight: 700;
      font-size: h.rem(18);
    }

    .suffix {
      span {
        font-weight: 500;
        font-size: h.rem(18);
        color: #bcbcbc;
      }
    }

    .content {
      margin-bottom: h.rem(18);

      h4 {
        text-align: center;
        font-size: h.rem(24);
      }
    }
  }

  footer {
    margin-bottom: h.rem(16);

    p {
      font-weight: 700;
      font-size: h.rem(18);
      text-align: center;
      margin-bottom: h.rem(16);
    }

    a.btn {
      @include h.newsBtn();
    }
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: h.rem(400);
    background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #03152d 75%);
    z-index: -1;
  }

  @media screen and (min-width: 992px) {
    height: 100vh;

    .card {
      padding-top: h.rem(53);
      padding-bottom: h.rem(20);
      padding-inline: h.rem(39);
      border-top-left-radius: 32px;
      border-bottom-right-radius: 40px;

      .header {
        padding: h.rem(13) h.rem(24) h.rem(0);
        font-size: h.rem(28);
        line-height: h.rem(33);
      }

      .suffix {
        span {
          font-size: h.rem(24);
        }
      }

      .content {
        margin-bottom: h.rem(24);

        h4 {
          font-size: h.rem(36);
        }
      }
    }

    footer {
      margin-bottom: h.rem(32);

      p {
        font-size: h.rem(24);
        line-height: h.rem(30);
        margin-bottom: h.rem(30);
      }
    }
  }
}
