<app-global-bg-caption-1 bgImage="images/plants-by-sea.jpg" upperDecoration="images/ink-in-water.png" [gradient]="true"
    extraClasses="p-small" [upperDecorationAlt]="true" *appBrowserOnly>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h3 class="decorative-title sec-title" observeVisibility>الحشائش تنقرض</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-12">
                <app-quote-card extraClasses="mb-large" observeVisibility>
                    <p>
                        تشتمل المياه الإقليمية للبحرين على مجموعة متنوعة من الموائل البحرية الحساسة، بما في ذلك أحواض
                        الأعشاب البحرية
                        والشعاب المرجانية وأشجار القرم والمسطحات الطينية بين المد والجزر. وتلعب النظم البيئية هذه دورًا
                        حاسمًا في دعم
                        التنوع البيولوجي البحري؛ حيث تعمل كمناطق حضانة وتكاثر وتغذية للعديد من أنواع الأسماك والحيوانات
                        الضخمة المهددة
                        بالانقراض؛ مثل خروف البحر والدلافين والسلاحف الخضراء.
                    </p>
                </app-quote-card>
            </div>
        </div>
    </div>
</app-global-bg-caption-1>