@use "../../../../assets/scss/helpers" as h;

section.bg-caption-1 {
  padding-top: h.rem(100);
  padding-bottom: h.rem(200);

  &.p-small {
    padding-top: h.rem(40);
    padding-bottom: h.rem(70);
  }

  img.bg-image {
    z-index: -1;
  }

  .quote-card {
    h5 {
      font-size: h.rem(20);
      margin-bottom: h.rem(12);
      font-weight: 700;
      color: #18e1b4;
    }

    p {
      font-size: h.rem(18);
      margin-bottom: h.rem(12);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .quote-card.mb-large {
    margin-bottom: h.rem(100);
  }

  .decoration {
    &:not(.upper-decoration) {
      bottom: -20%;
      height: 704px;
    }

    &.upper-decoration {
      top: 0;
      transform: translateY(-50%);
    }

    &.top-0 {
      top: 0;
      transform: none;
    }
  }

  .gradient {
    background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #010e13 75%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: h.rem(270);
    z-index: 2;
  }

  .sec-title {
    margin-top: h.rem(50);
    padding-top: h.rem(18);
    padding-inline: h.rem(24);
    padding-bottom: h.rem(10);
    font-size: h.rem(24);
    font-weight: 700;
    margin-bottom: h.rem(50);
  }

  footer {
    margin-top: 30px;
    p {
      font-size: h.rem(18);
      font-weight: 700;
      text-align: center;
    }
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(172);
    padding-bottom: h.rem(454);

    &.p-small {
      padding-bottom: h.rem(138);
      padding-top: h.rem(95);
    }

    .quote-card {
      h5 {
        font-size: h.rem(40);
        margin-bottom: h.rem(24);
        font-weight: 700;
        color: #18e1b4;
      }

      p {
        font-size: h.rem(24);
        margin-bottom: h.rem(20);
      }
    }

    .sec-title {
      margin-top: h.rem(160);
      padding-top: h.rem(22);
      padding-inline: h.rem(35);
      padding-bottom: h.rem(12);
      font-size: h.rem(34);
      margin-bottom: h.rem(113);
    }

    .quote-card.mb-large {
      margin-bottom: h.rem(256);
    }

    footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      inset-inline-start: 0;
      z-index: 1;
      margin-top: 0;

      p {
        font-size: h.rem(24);
        line-height: h.rem(44);
      }
    }
  }
}
