$dark-red: #b40000;
$primary: #18E1B4;
$light-red: #fbd0d7;
$dark-blue: #0050c9;
$secondary: #2a81f4;
$light-blue: #b6d4fb;
$secondary-green: #8ec21e;
$light-green: #d3fa7f;
$dark-green: #6b8d20;
$dark-titles: #393939;
$desc: #757575;
$light-bg: #757575;
$dark-bg: #133553;
