<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex justify-content-start align-items-center">
                <a [href]="logoLink()">
                    <img [src]="logo()" alt="Site Logo" class="logo">
                </a>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <a [href]="langChangeLink()">
                    <img [src]="langImage()" alt="Change Language">
                </a>
            </div>
        </div>
    </div>
</header>