@use "../../../../assets/scss/helpers" as h;

header.site-header {
  position: absolute;
  width: 100%;
  padding-top: h.rem(30);
  z-index: 5;

  img.logo {
    max-width: 120px;
    height: auto;
  }

  @media screen and (min-width: 992px) {
    padding-top: h.rem(53);
    z-index: 5;

    img.logo {
      max-width: 150px;
      height: auto;
    }
  }
}
