<!-- transparent content block -->
<section class="transparent-content">
    <div class="gradient"></div>
    <div class="container content">
        <app-transparent-block-content />
    </div>
    <div class="container footer d-flex flex-column justify-content-start align-items-center">
        <p observeVisibility>
            وبينما يستمر النقاش العلمي حول أثر محطات التحلية، يعاني الصيادان "البلادي" و"القلاف" من شباك فارغة؛ فالخليج  الذي
            طالما مدّهم بالخير لم يعد كالسابق، تُحارب مياهه الملوحة والحرارة العالية، وتهرب منه أسماكه لمكان تأوي فيه هربًا من
            الموت المحتم.
        </p>
        
        <a href="https://muwatin.net/69266/" class="btn btn-primary" observeVisibility>
            <span>إلى الجزء الثالث</span>
            <span class="icon-arrow-left"></span>
        </a>
        
        <p observeVisibility>
            شارك في العمل الميداني: علياء الموسوي، صحفية بحرينية.<br> 
            فوتوغرافيا وفيديو: تصوير مشترك بين مصورين لصالح مواطن، لا يفضلون الإفصاح عن أسمائهم.
        </p>
    </div>
</section>