<app-global-bg-caption-1 bgImage="images/arabian-fisherman.jpg" lowerDecoration="images/rocks.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-12">
                <app-quote-card *appBrowserOnly observeVisibility>
                    <p>لاحظ "البلادي" زيادة الملوحة في الخليج العربي، ويؤكد رؤيته للملح على شاطئ منطقة "سترة" الواقعة في
                        شرق الخليج العربي على بعد عشرة كيلومترات من العاصمة البحرينية المنامة (6 أميال تقريبا) والتي تضم
                        محطة تحلية تحمل نفس الاسم (سترة) وتُعدّ الأقدم في البحرين التي بدأت في تحلية المياه عام <a
                            target="_blank"
                            href="https://wstagcc.org/WSTA-13th-Gulf-Water-Conference/WSTA-13-Gulf-Water-Conference-Proceedings%20.pdf">١٩٧٥</a>.
                    </p>
                    <p>حال البلادي هو حال <a target="_blank"
                            href="https://www.data.gov.bh/explore/dataset/05-statistics-of-fisheries/table/?flg=ar-001&disjunctive.lmw_shrt_lkhs_blthrw_lsmky&refine.lmw_shrt_lkhs_blthrw_lsmky=%D8%B9%D8%AF%D8%AF+%D8%A7%D9%84%D8%B5%D9%8A%D8%A7%D8%AF%D9%8A%D9%86&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJiYXIiLCJmdW5jIjoiU1VNIiwieUF4aXMiOiJpdGVtIiwic2NpZW50aWZpY0Rpc3BsYXkiOnRydWUsImNvbG9yIjoicmFuZ2UtY3VzdG9tIn1dLCJ4QXhpcyI6ImZpc2hlcmllc19pbmRpY2F0b3JzIiwibWF4cG9pbnRzIjoiIiwidGltZXNjYWxlIjoiIiwic29ydCI6IiIsInNlcmllc0JyZWFrZG93biI6InllYXIiLCJzZXJpZXNCcmVha2Rvd25UaW1lc2NhbGUiOiIiLCJjb25maWciOnsiZGF0YXNldCI6IjA1LXN0YXRpc3RpY3Mtb2YtZmlzaGVyaWVzIiwib3B0aW9ucyI6eyJmbGciOiJhci0wMDEiLCJkaXNqdW5jdGl2ZS5sbXdfc2hydF9sa2hzX2JsdGhyd19sc21reSI6dHJ1ZSwicmVmaW5lLmxtd19zaHJ0X2xraHNfYmx0aHJ3X2xzbWt5IjoiXHUwNjM5XHUwNjJGXHUwNjJGIFx1MDYyN1x1MDY0NFx1MDYzNVx1MDY0QVx1MDYyN1x1MDYyRlx1MDY0QVx1MDY0NiJ9fX1dLCJkaXNwbGF5TGVnZW5kIjp0cnVlLCJhbGlnbk1vbnRoIjp0cnVlLCJ0aW1lc2NhbGUiOiIifQ%3D%3D">أربعة
                            آلاف وخمسمائة صياد</a> موزعين على شواطئ البحرين، يعانون من تراجع الموارد
                        السمكية وتغييرات في جودة المياه بفعل محطات التحلية المنتشرة على ساحل الخليج، كما ترك بعضهم
                        المهنة لقلة العائد من ورائها.
                    </p>
                </app-quote-card>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>
                تؤكد البيانات الصادرة عن <a target="_blank"
                    href="https://www.data.gov.bh/explore/dataset/05-statistics-of-fisheries/table/?flg=ar-001&disjunctive.lmw_shrt_lkhs_blthrw_lsmky&refine.lmw_shrt_lkhs_blthrw_lsmky=%D8%B9%D8%AF%D8%AF+%D8%A7%D9%84%D8%B5%D9%8A%D8%A7%D8%AF%D9%8A%D9%86&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJiYXIiLCJmdW5jIjoiU1VNIiwieUF4aXMiOiJpdGVtIiwic2NpZW50aWZpY0Rpc3BsYXkiOnRydWUsImNvbG9yIjoicmFuZ2UtY3VzdG9tIn1dLCJ4QXhpcyI6ImZpc2hlcmllc19pbmRpY2F0b3JzIiwibWF4cG9pbnRzIjoiIiwidGltZXNjYWxlIjoiIiwic29ydCI6IiIsInNlcmllc0JyZWFrZG93biI6InllYXIiLCJzZXJpZXNCcmVha2Rvd25UaW1lc2NhbGUiOiIiLCJjb25maWciOnsiZGF0YXNldCI6IjA1LXN0YXRpc3RpY3Mtb2YtZmlzaGVyaWVzIiwib3B0aW9ucyI6eyJmbGciOiJhci0wMDEiLCJkaXNqdW5jdGl2ZS5sbXdfc2hydF9sa2hzX2JsdGhyd19sc21reSI6dHJ1ZSwicmVmaW5lLmxtd19zaHJ0X2xraHNfYmx0aHJ3X2xzbWt5IjoiXHUwNjM5XHUwNjJGXHUwNjJGIFx1MDYyN1x1MDY0NFx1MDYzNVx1MDY0QVx1MDYyN1x1MDYyRlx1MDY0QVx1MDY0NiJ9fX1dLCJkaXNwbGF5TGVnZW5kIjp0cnVlLCJhbGlnbk1vbnRoIjp0cnVlLCJ0aW1lc2NhbGUiOiIifQ%3D%3D">بوابة
                    البحرين للبيانات المفتوحة</a> تراجع أعداد الصيادين بنسبة الرُبع بين عامي 2018 و
                2022، كما قلت أعداد قوارب الصيد خلال نفس الفترة بنسبة 12٪، وتراجعت كمية الأسماك المصطادة بنسبة 5٪.
            </p>
        </div>
    </footer>
</app-global-bg-caption-1>