@use "../../../../assets/scss/helpers" as h;

section.central-content {
  position: relative;
  z-index: -2;
  margin-top: 100px;
  padding-bottom: h.rem(150);

  .content-container {
    position: relative;
    z-index: 1;
  }

  &.mb-big {
    padding-bottom: h.rem(200);
  }

  .icon-card {
    margin-bottom: h.rem(80);
    margin-top: h.rem(30);
  }

  .quote-card {
    background: rgba(2, 97, 91, 0.6);
    font-size: h.rem(18);
    font-weight: 400;
    margin-bottom: h.rem(30);
  }

  .decorative-title {
    font-size: h.rem(28);
    padding-top: h.rem(16);
    padding-bottom: h.rem(10);
    padding-inline: h.rem(24);
    font-weight: 700;
    margin-bottom: h.rem(50);
  }

  .bg-image {
    position: fixed;
  }

  .gulf-map-title {
    font-size: h.rem(20);
    font-weight: 700;
    margin-bottom: h.rem(20);
  }

  .gulf-map {
    overflow: hidden;

    iframe {
      position: relative;
      top: -95px;
      aspect-ratio: 1/3;
      width: 100%;
    }
  }

  .versus {
    margin-bottom: h.rem(40);
  }

  .level1-v-level2 {
    .row {
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: h.rem(60);
      }

      .dots {
        position: absolute;
        width: h.rem(174);
        height: auto;
        inset-inline-start: 40%;
        top: 95%;
      }
    }

    p {
      font-size: h.rem(16);
      margin-bottom: h.rem(24);
    }
  }

  .tabs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: h.rem(30);

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: h.rem(16);

      button {
        border-radius: 8px;
        border: 3px solid white;
        padding: h.rem(16) h.rem(18) h.rem(14);
        font-size: h.rem(16);
        font-weight: 500;
        color: white;
        transition: all 0.5s;

        &.selected {
          border-color: #18e1b4;
          background: #18e1b4;
          color: #055c53;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    margin-top: 200px;
    padding-bottom: h.rem(272);

    &.mb-big {
      padding-bottom: h.rem(481);
    }

    .icon-card {
      margin-bottom: h.rem(167);
      margin-top: h.rem(60);
    }

    .quote-card {
      font-size: h.rem(24);
      margin-bottom: h.rem(61);
    }

    .decorative-title {
      font-size: h.rem(34);
      padding-top: h.rem(21);
      padding-bottom: h.rem(10);
      padding-inline: h.rem(41);
      margin-bottom: h.rem(117);
    }

    .gulf-map-title {
      font-size: h.rem(30);
      line-height: h.rem(44);
      margin-bottom: h.rem(46);
    }

    .gulf-map {
      iframe {
        position: relative;
        top: -35px;
        aspect-ratio: 1/2;
        width: 600px;
      }
    }

    .versus {
      margin-bottom: h.rem(83);
    }

    .level1-v-level2 {
      .row {
        &:not(:last-of-type) {
          margin-bottom: h.rem(130);
        }
        .dots {
          width: h.rem(230);
          inset-inline-start: 40%;
          top: 82%;
        }
      }

      p {
        font-size: h.rem(24);
        margin-bottom: 0;
      }
    }

    .tabs-container {
      gap: h.rem(62);

      .controls {
        gap: h.rem(28);

        button {
          padding: h.rem(20) h.rem(24) h.rem(14);
          font-size: h.rem(22);
        }
      }
    }
  }
}
