<app-global-central-content upperDecoration="images/ink-in-water.png" extraClasses="mt-0 mb-big" *appBrowserOnly>

    <app-quote-card observeVisibility>
        <p>
            نظرًا لعدم وجود معيار لتدرج الملوحة في البحرين، قارنت الدراسة نتائجها مع معيار الجودة الذي وضعته الهيئة
            العامة
            للبيئة في الكويت لإطلاق مياه التبريد إلى منطقة البحر، أشارت المقارنة إلى أن تركيز الملوحة في معظم مواقع أخذ
            العينات كانت أعلى من معايير تصريف النفايات السائلة بمتوسط ​​يتراوح بين 2.5%-9.0%. انعكس تأثير تركيز الملوحة
            العالي على تكوين الأنواع القاعية؛ حيث تلعب الملوحة دورًا مهمًا في نمو وحجم الحياة المائية، واضطراب الأنواع
            البحرية، في الغالب الأنواع المهاجرة، كما هو الحال بالنسبة لأنواع الأسماك التجارية الشائعة؛ مثل سمكة بومفريت
            الفضية، وسمك الشاد الذي يعتبر جزءً من دورة هجرتهم.
        </p>
    </app-quote-card>

    <h3 class="decorative-title" observeVisibility>الانتاج السمكي في البحرين</h3>

    <div class="chart-container" observeVisibility>
        <div class="flourish-embed flourish-chart" data-src="visualisation/20361643">
            <noscript>
                <img src="https://public.flourish.studio/visualisation/20361643/thumbnail" width="100%"
                    alt="chart visualization" />
            </noscript>
        </div>
    </div>

</app-global-central-content>