<!-- Quote Section -->
<section class="quote" *appBrowserOnly>
    <div class="container">
        <p class="content" i18n="@@bahrain.quote" observeVisibility>أربع وستون سنة من سنوات عمره القريب من الثمانين، قضاها
            الصياد البحريني"السيد جعفر
            البلادي" في مياه الخليج العربي،
            الذي عاش هو وأولاده وأحفاده من خيره، لكن التغييرات التي تشهدها مياهه جعلته يهجر المهنة التي لم يعرف غيرها
            طيلة عمره.
        </p>
        <p class="content" i18n="@@kweit.quote" observeVisibility>يعيش "البلادي"، هو وأكثر من نصف سكان البحرين، على شاطئ
            الخليج العربي، يعرفه ويعرف
            مياهه كما يعرف نفسه، "في نهاية
            الثمانينيات من القرن الماضي بدأ البحر يتغيّر بسبب بناء محطات التحلية" حسب قوله.</p>

        <div class="content-wrapper">
            <div class="thumb-container" (click)="openPopup()" observeVisibility>
                <img src="images/vid-thumb.png" alt="Video Thumbnail">
            </div>
            <div class="quote-container" observeVisibility [delay]="400">
                <app-quote-card>
                    <p class="content">يصف "البلادي" هذا التغيير لـ"مواطن" قائلاً: "في البداية رأينا الخراطيم تضخ المياه
                        في البحر، أخبرونا بعد ذلك أنها لتحلية مياه الخليج كي تصلح للشرب والزراعة وغيرها من الاستخدامات
                        لكن الأمر تفاقم حتى أصبح لون مياه الخليج ورائحتها لا تطاق، تغيّر لونها للأصفر وهربت منها الأسماك
                        التي نعتاش من صيدها".
                    </p>
                    <p class="content">ويضيف عندما لاحظنا التغير في المياه تحدثنا للمسؤولين الذين أخبرونا أن الأمر مؤقت
                        وسيتم معالجته
                        في أسرع وقت، لكن الضرر اليوم طال كل شاطئ بحريني، أصبح تواجد الأسماك التي هي أحد مصادر الأمن
                        الغذائي لسكان البحرين، وجزء كذلك من ثقافتهم المحلية شبه معدوم ولا يقارن بالدول الخليجية أو
                        العربية الأخرى</p>
                </app-quote-card>
            </div>
        </div>
    </div>

    <img src="images/dirty-water.png" alt="chimnies" class="decoration">
</section>
<app-popup [isVisible]="isPopupVisible()" (close)="closePopup()">
    <iframe width="100%" class="popup-target" height="100%" src="https://www.youtube.com/embed/6VDxnaf8JDA"
        title="تحلية المياه - جعفر البلادي" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</app-popup>