@use "../../../../assets/scss/helpers" as h;

section.quote {
  background-color: #03152d;
  padding: 4rem 0;

  .container {
    position: relative;
    z-index: 1;
  }

  .thumb-container {
    cursor: pointer;
  }

  .content-wrapper {
    margin-top: h.rem(35);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: h.rem(25);
    margin-bottom: h.rem(150);

    .quote-container {
      max-width: h.rem(747);
    }

    .quote-card {
      position: relative;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .decoration {
    bottom: 0;
    object-fit: cover;
    max-height: 150px;
  }

  @media screen and (min-width: 992px) {
    padding: 4rem 0;

    .content-wrapper {
      margin-top: h.rem(50);
      gap: h.rem(54);
      margin-bottom: h.rem(234);
      flex-wrap: nowrap;

      .quote-card {
        top: h.rem(26);
        min-width: h.rem(400);
      }
    }

    .decoration {
      max-height: 371px;
    }
  }
}
