<app-global-bg-caption-1 bgImage="images/lonely-fisherman.jpg" upperDecoration="images/ink-in-water.png"
    [gradient]="true" extraClasses="p-small" [upperDecorationAlt]="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <app-quote-card *appBrowserOnly observeVisibility>
                    <p>ويضيف الداوود: "الأمر نفسه يحدث فيما يخص درجات الحرارة الشديدة؛ فالكائنات البحرية لا تستطيع
                        الحفاظ على درجات حرارة
                        جسمها؛ فيكون مصيرها الموت أيضًا، وإن كان هناك بعض الأنواع ذات مدى واسع يمكن أن تتحمل درجات
                        الحرارة والملوحة ولو
                        قليلًا، ولكن أيضًا تتأثر؛ فمعدلات نموها وتكاثرها لا تكون طبيعية
                        ".</p>
                    <p>
                        لاحظ جواد القلاف، صياد بحريني في عقده الخامس، تراجُع معدلات نموّ الأسماك، يقول: "سمك السبيطي
                        حجمه صغير وشبه منقرض؛
                        فلم نعد نحصل عليه بسهوله، كذلك سمك الشعرى صغر حجمه وأصبح صيده صعبًا، لأنه انتقل إلى الأماكن
                        العميقة
                        ".
                    </p>

                    <p>
                        ويضيف خلال حديثه لـ"مواطن": "سمك الهامور أيضًا تغيّر حجمه عما كنا نصطاده في السابق، يتواجد
                        بأعداد كبيرة ولكن حجمه
                        صغير، كما لاحظت شُحّ بعض الأسماك ومنها القرقفان والبدح، أما سمكة الصفط فأصبحت نادرة وتكون هزيلة
                        في الغالب، لذا
                        أعيدها إلى الماء في بعض الأحيان، كما لاحظت انقراض سمك الفسكر من بحورنا".
                    </p>

                    <p>
                        يصف "الداوود" ما تفعله محطة الدور بالأنانية؛ فيقول: "تأخذ المحطة الماء من مسافة 1.5 كيلومتر (ميل
                        واحد تقريبًا) حتى
                        يحافظوا على كفاءة المحطة، ولكنها تخرج الماء المالح على الساحل مباشرة، غير مهتمين بالأحياء
                        البحرية أو موتها أو تغير
                        الشكل الهيدروليكي للمياه
                        ".
                    </p>
                </app-quote-card>
            </div>
        </div>
    </div>
</app-global-bg-caption-1>