<section class="plain-content">
    <div class="gradient"></div>
    <img src="images/abstract-1.jpg" alt="" class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="dash-line"></div>
            </div>
        </div>
        <p observeVisibility>
            يقول د. وليد زباري، أستاذ إدارة الموارد المائية بجامعة الخليج العربي ورئيس اللجنة العلمية لجمعية علوم وتقنية المياه،
            والمشرف على الدراسة السالفة، لـ"مواطن": لا يتعدى عمق الخليج العربي العشرة أمتار، وهو منطقة مغلقة وليست مفتوحة؛ لذلك
            يتأثر بالملوحة الناجمة عن محطات التحلية. يؤكد "زباري" أنهم وجدوا نقاطًا ساخنة متضررة من الملوحة في دائرة نصف قطرها
            بين 200-300 متر حول المحطة
            .
        </p>
        <p observeVisibility>
            ويضيف: "هناك سلسلة غذائية دقيقة، لذلك قمنا بدراسة التجمعات الأحيائية الدقيقة؛ فوجدناها مختفية في أماكن صبّ المياه
            المرتجعة، تلك التجمعات الدقيقة مهمة، لأن الأسماك الكبيرة تتغذى عليها، وبالتالى ستختفي الأسماك الكبيرة أيضًا، وهذا ما
            تأكدنا منه عندما سألنا الصيادين العاملين في المنطقة
            ".
        </p>
        <p observeVisibility>
            ويتفق كل من "الداوود" و"زباري" على أن أسباب تراجع الثروة السمكية لا يمكن حصره في الملوحة والحرارة الناجمة عن محطات
            التحلية فقط؛ فالأسباب متداخلة ومتشعبة لتنوع مصادر التلوث في الخليج العربي؛ مثل التسريبات النفطية والتلوث من المصانع
            الكيماوية، والصيد الجائر وغيرها من الأسباب
            .
        </p>
    </div>
</section>