@use "../../../../assets/scss/helpers" as h;

section.plain-content {
  padding-bottom: h.rem(40);
  position: relative;

  .gradient {
    background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #020d13 75%);
    height: h.rem(100);
    position: absolute;
    top: 0;
    width: 100%;
    inset-inline-start: 0;
    transform: rotateZ(180deg);
    z-index: -1;
  }

  .bg-image {
    z-index: -2;
  }

  p {
    position: relative;
    z-index: 1;
    font-size: h.rem(18);
    font-weight: 500;
    margin-bottom: h.rem(12);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 992px) {
    padding-bottom: h.rem(78);

    .gradient {
      height: h.rem(200);
    }

    p {
      font-size: h.rem(24);
      margin-bottom: h.rem(20);
    }
  }
}
