<app-global-bg-caption-1 bgImage="images/empty-nets.jpg" upperDecoration="images/horizon.png" [gradient]="true"
    extraClasses="p-small" >
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <app-quote-card observeVisibility>
                    <h5>شباك فارغة</h5>
                    <p>بحسب <a
                            href="https://wstagcc.org/WSTA-13th-Gulf-Water-Conference/WSTA-13-Gulf-Water-Conference-Proceedings%20.pdf"
                            target="_blank">دراسة</a> بعنوان: "تأثير تصريف المحلول الملحي من محطة تحلية المياه بالتناضح
                        العكسي في الدور، على
                        تكوين الأنواع
                        الحيوانية في الساحل الشرقي للبحرين"، نشرت في العام 2019؛ فإن المحلول الملحي الذي يتم تصريفه من
                        محطة تحلية المياه
                        بـ"الدور" أدى إلى ظروف بيئية قاسية
                        .</p>
                    <p>جمع أصحاب الدراسة عينات للمياه من عشر نقاط، على مسافات متفاوتة من مخرج تفريغ المحطة، ومن أعماق
                        تتراوح بين أقل من متر
                        واحد إلى 7 أمتار، لقياس الملوحة والمد والجزر؛ فوجدوا أن ملوحة المياه تجاوزت 55% بالقرب من مخرج
                        تفريغ المحطة، وهو
                        أعلى بكثير من ملوحة مياه البحر الطبيعية (حوالي 35%)، مما يشكل خطرًا على النظم البيئية البحرية
                        المحلية. كما تجاوزت
                        درجات حرارة المياه بالقرب من موقع التفريغ الـ 38 درجة مئوية (100.4 درجة فهرنهايت)؛ خاصة خلال
                        أشهر الصيف؛ ما يشير إلى
                        تأثير حراري ملحوظ
                        .</p>
                    <p>كما أظهرت الدراسة انخفاضًا في التنوع البيولوجي ووفرة التجمعات القاعية الدقيقة في الغالب، في
                        المواقع المجاورة لمخرج
                        محطة تحلية المياه، وقد لوحظت عدة حالات من نفوق الأسماك واختفاء الأنواع البحرية القاعية؛ مثل
                        شوكيات الجلد في محيط
                        محطة تحلية المياه بسبب بطء معدل النمو، وفشل آلية التنظيم الإسموزي، وانكماش خلايا الجسم، وخلل في
                        عمل الجهاز الغدد
                        الصماء
                        .</p>
                </app-quote-card>
            </div>
        </div>
    </div>
</app-global-bg-caption-1>