<app-global-central-content-2 bgImage="images/abstract-1.jpg" *appBrowserOnly>
    <div class="container content-container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-start align-items-center">
                <p class="sec-para" observeVisibility>
                    يوضّح د. ثامر الداوود، أستاذ بيولوجيا علوم البحار في قسم الموارد الطبيعية والبيئة بجامعة الخليج
                    العربي، تأثير
                    الملوحة، في حواره مع "مواطن" بقوله: "غالبًا ما يكون أثر الملوحة الزائدة على الكائنات البحرية في
                    الجانب الفسيولوجي،
                    لأن الكائنات الساحلية مُعتادة على عملية تُسمّى بـ"التنظيم الإسموزي"؛ فالكائن البحري عليه أن يتعايش
                    مع بيئته عبر
                    مماثلة تركيز الملح داخل الجسم مع تركيز الملح خارجه. في الحالات الطبيعية تكون لدى الكائنات البحرية
                    القدرة على التنظيم
                    الإسموزي، لكن في حالة الملوحة الشديدة تهرب تلك الكائنات لأماكن بعيدة، أو تنفق لعدم قدرتها على
                    التحمل".
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <app-quote-card observeVisibility [delay]="500">
            <h5>التنظيم الإسموزي:</h5>
            <p>التنظيم الإسموزي، هو العملية النشطة التي تحافظ بها الكائنات الحية على توازن الماء والمواد المذابة في
                سوائل
                أجسامها لتحقيق التوازن الداخلي. يتضمن هذا تنظيم الضغط الإسموزي، وهو ميل الماء للتحرك عبر غشاء شبه نافذ
                بسبب
                الاختلافات في تركيز المواد المذابة. الهدف الأساسي منه هو ضمان بقاء البيئة الداخلية مستقرة على الرغم من
                التغيرات
                في الظروف الخارجية.</p>
        </app-quote-card>
    </div>
</app-global-central-content-2>