@use "../../../../assets/scss/helpers" as h;

section.alternating-cards {
    padding-top: h.rem(80);
    padding-bottom: h.rem(100);
    position: relative;
    background-color: #03152d;
  
    .gradient {
      position: absolute;
      inset-inline-start: 0;
      width: 100%;
      height: h.rem(140);
      background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #060606 75%);
  
      &.gradient-top {
        top: 0;
        transform: rotateZ(180deg);
      }
  
      &.gradient-bottom {
        bottom: 0;
        background: linear-gradient(180deg, rgba(19, 17, 30, 0) 0%, #03152d 75%);
      }
    }
  
    .quote-card {
      padding: h.rem(16);
      border-radius: 8px;
      margin-bottom: h.rem(20);
  
      h5,
      p {
        font-size: h.rem(16);
      }
  
      p {
        font-weight: 400;
      }
  
      h5 {
        font-weight: 700;
        margin-bottom: h.rem(5);
      }
    }
  
    .container {
      position: relative;
      z-index: 1;
    }
  
    @media screen and (min-width: 992px) {
      padding-top: h.rem(184);
      padding-bottom: h.rem(227);
  
      .gradient {
        height: h.rem(275);
      }
  
      .quote-card {
        padding: h.rem(24);
        margin-bottom: 0;
  
        &.small {
          max-width: h.rem(464);
        }
  
        h5,
        p {
          font-size: h.rem(24);
        }
  
        h5 {
          font-weight: 700;
          margin-bottom: h.rem(5);
        }
  
        &.small {
          max-width: h.rem(464);
        }
      }
    }
  }
  