<!-- Alternating Cards -->
<section class="alternating-cards">
    <img src="images/ocean-bg.jpg" alt="" class="bg-image">
    <div class="gradient gradient-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                <app-quote-card observeVisibility>
                    <h5>أنظمة الأعشاب البحرية:</h5>
                    <p>تقع أحواض الأعشاب بالقرب من ساحل الدور بالقرب من محطة التحلية، وتمتد إلى جزر حوار، وهي حيوية
                        للعديد من الأنواع
                        البحرية؛ حيث توفر الغذاء والمأوى للأسماك والرخويات والأنواع المهددة بالانقراض؛ مثل خروف البحر
                        والسلاحف الخضراء.
                        تعتبر أنظمة الأعشاب البحرية منتجة للغاية، وتساهم بشكل كبير في شبكة الغذاء البحرية من خلال دعم
                        العديد من الكائنات
                        الحية المهمة اقتصاديًا.</p>
                </app-quote-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-lg-7 col-12 d-flex justify-content-center align-items-center">
                <app-quote-card observeVisibility>
                    <h5>الشعاب المرجانية:</h5>
                    <p>توجد موائل المرجان بشكل أساسي في المناطق الشمالية والشرقية من البحرين، وهي ضرورية للحفاظ على
                        التنوع البيولوجي
                        وتوفير الخدمات البيئية؛ مثل موارد المأكولات البحرية والفرص الترفيهية.</p>
                </app-quote-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                <app-quote-card observeVisibility>
                    <h5>أشجار المانغروف والسبخات الطينية:</h5>
                    <p>تعمل أشجار المانغروف كحواجز ساحلية حاسمة، في حين تعد السبخات الطينية موائل منتجة تدعم الطيور الساحلية
                        المهاجرة
                        وغيرها من الحيوانات البرية.</p>
                </app-quote-card>
            </div>
        </div>
    </div>
    <div class="gradient gradient-bottom"></div>
</section>